.side_bar
  .header__left
    .header__left__title
      text
    .header__left__logo__left
      = link_to "#", class: "contents__btn" do
        = icon('fas', 'edit')
    .header__left__logo__rigth
      = link_to "#", class: "contents__btn" do
        = icon('fas', 'cog')

  .header__leftcontents
    .header__leftcontents__top
      .header__leftcontents__top1
        test
      .header__leftcontents__top2
        "まだメッセージはありません" 
    .header__leftcontents__main
      .header__leftcontents__main1
        test 
      .header__leftcontents__main2
        "まだメッセージはありません" 

  